MODELSIM
Quartus
*.mpf
*.mti
*.wlf
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
testbench
lab3/RTL/testbench/TB_RISCV_sort.v
lab3/RTL/testbench/TB_RISCV_inst.v
lab3/RTL/testbench/TB_RISCV_forloop.v
