MODELSIM
Quartus
*.mpf
*.mti
*.wlf
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
testbench
lab3/RTL/testbench/TB_RISCV_sort.v
lab3/RTL/testbench/TB_RISCV_inst.v
lab3/RTL/testbench/TB_RISCV_forloop.v
lab3/DOC/Easyweb.pdf
lab1/Doc/.idea/deployment.xml
lab1/Doc/.idea/Doc.iml
lab1/Doc/.idea/misc.xml
lab1/Doc/.idea/modules.xml
lab1/Doc/.idea/vcs.xml
lab4/DOC/doc.pdf
lab4/DOC/Lab4_ChangZihao_20206018_CuiYuxuan_20206019.pdf
lab4/DOC/Lab4_ChangZihao_20206018_CuiYuxuan_20206019.zip
